body {
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #e6e6e6;
}

header {
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

#logo, menu {
    padding: 10px;
}

#logo h1 {
    color: #4e4e4e;
    font-size: 2.5em;
    font-weight: 700;
}

#logo h1 span{
    color: #ffffff;
}

menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 8px 12px;
}

menu a:hover {
    color: #f7b600;
    background: #ffffff;
}

main {
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

section {
    width: 660px;
    float: left;
}

article {
    padding: 20px;
    margin-bottom: 20px;
    background: #ffffff;
}

article img {
    width: 620px;
}

article h2 {
    color: #f7b600;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0 0 8px 0;
}

article span {
    display: block;
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;
    padding: 0 0 8px 0;
    border-bottom: 1px solid #f4f4f4;
}

article p {
    display: inline-block;
    text-align: justify;
    margin-bottom: 10px;
    padding: 10px 0;
}

article a {
    color: #f7b600;
    text-decoration: none;
    padding: 8px 12px;
    transition: 400ms;
}

article a:hover {
    color: #ffffff;
    background: #f7b600;
}

aside {
    background: #ffffff;
    width: 240px;
    float: right;
    margin-bottom: 20px;

}

aside h3 {
    background: #c3c3c3;
    margin: 10px;
    padding: 10px 15px;
}

aside p {
    display: inline-block;
    padding: 5px 25px;
    font-size: 0.8em;
}

aside a {
    text-decoration: none;
    color: #f7b600;
    font-size: 0.8em;
    padding: 5px 25px;
}

aside a:hover {
    text-decoration: underline;
}

aside hr {
    margin: 10px;
}

.links-uteis a {
    display: block;
    font-size: 1em;
}

footer {
    clear: both;
    text-align: center;
    padding: 15px;
    background: #cccccc;
}